@{
    ViewBag.Title = "Uğur Şirketler Grubu";
  
}
<h1 style="color:darkblue"><b>UĞUR ŞİRKETLER GRUBU</b></h1>
<br/><br /><br />

<div class="row">
    <div class="col-md-6">
        <img src="~/Assets/öneri.png"height="256" alt="Şikayet Öneri" />@*https://image.flaticon.com/icons/png/512/3176/3176298.png*@
        <h2>"Dilek-Şikayet Ve Öneri Formu"</h2>
        <p>
            Firma hakkında ya da firma içindeki şikayet,öneri ve dileklerinizi buradan iletebilirisniz...
        </p>
        <p><a class="btn btn-default" href="/Form/SikayetOneri">Formu Doldur &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <img src="~/Assets/ramakkala.png" height="256" alt="Şikayet Öneri" />@*"https://image.flaticon.com/icons/png/512/595/595067.png"*@
        <h2>"Ramak Kala Kartı"</h2>
        <p>
            Ramak Kala : İş Sağlığı ve Güvenliği Risk Değerlendirmesi Yönetmeliğinde;<br />
            işyerinde meydana gelen; çalışan, işyeri ya da iş ekipmanını zarara uğratma potansiyeli olduğu halde zarara uğratmayan olay olarak tanımlanmıştır.<br/>
        </p>
        <p><a class="btn btn-default" href="/Form/RamakKala">Kartı Doldur &raquo;</a></p>
    </div>
     
</div>